.search-container{
     background: #E6F7FF;
     border-radius: 16px;
     height: 270px;
     margin: 40px 100px 40px 90px;
     padding-top: 20px;
     padding-left: 100px;
}

.search-title {
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 38px;
     line-height: 46px;
     color: #262626;
}

.search-input {
     background: #FFFFFF;
     border: 1px solid #D9D9D9;
     box-sizing: border-box;
     border-radius: 4px;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     width: 70%;
     height: 40px;
     display: flex;
     margin-bottom: 20px;
}

